:root{
    --bgColor: #06050e;
    --secondaryColor: #21212d;
    --tertiaryColor: #121221;
    --textColor: #ffffff;
}


.result_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 20px;
    aspect-ratio: 9/16;
    margin-top: 25px;
    max-width: 250px;

    background-color: var(--tertiaryColor);
    box-shadow: 10px 5px 5px var(--bgColor);
    transition: transform 0.1s ease;
}

.result_box:hover {
    transform: scale(1.01);
    filter: saturate(120%);
}

.result_box_tags {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    width:100%;
    height: 10%;

    background-color: var(--secondaryColor);
}

.result_box_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    width:100%;
    height: 80%;

    background-color: var(--tertiaryColor);
    background-size: cover;
}

.result_box_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    width:100%;
    height: 10%;
    padding-top: 3px;
    padding-bottom: 3px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    font-size: 1.2em;

    background-color: var(--secondaryColor);
}

.result_box .delete-icon {
    position: absolute;
    bottom: 6px;
    left: 3px;
    cursor: pointer;
    font-size: 15px;
    color: #ff0000;
    background-color: #ffffff00;
    border: none;
    padding: 5px;
    opacity: 0;
}

.result_box .delete-icon:hover {
    opacity: 100%;
    transition: opacity 0.2s ease;
}

@media screen and (max-width:1000px) {
    #content {
        height: 75%;
    }
}

@media screen and (max-aspect-ratio:9/16) {
    .result_box {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        aspect-ratio: 9/16;
        margin-top: 10px;
        max-width: 100vh;
    
        background-color: var(--secondaryColor);
        box-shadow: 10px 5px 5px #1a2144;
        transition: none;
    }
}