html {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #077A7D;
}

#content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;

    width: 90%;
    height: 75%;

    background-color: #7AE2CF;
    overflow: auto;
    scrollbar-width: none;
}

#content::-webkit-scrollbar{
    width: 0px;
    height: 0px;

}

@media screen and (max-width:1000px) {
    #header {
        height: 20%;
    }

    #content {
        height: 75%;
    }
}

@media screen and (max-aspect-ratio:9/16) {

    #content {
        display: flex;
        flex-direction: column;
    }
}